<h1>Listing invites</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Organization name</th>
      <th>Team</th>
      <th>Team name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.organization_id %></td>
        <td><%= invite.organization_name %></td>
        <td><%= invite.team_id %></td>
        <td><%= invite.team_name %></td>
        <td><%= invite.user_id %></td>
        <td><%= link_to 'Show', invite %></td>
        <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
        <td><%= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite', new_invite_path %>
