<p class="lead">
  Pick the team to add people to.
</p>
<hr>
<%= form_for(@invite) do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @invite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @invite.potential_orgs_with_teams.sort.each do |org| %>
    <h2>@<%= org.login %></h2>
    <ul>
      <% org.teams.each do |team| %>
        <%# exclude the Owners team %>
        <% unless team.owners? %>
          <li>
            <%= f.button class: 'btn btn-default', name: 'invite[team_id]', value: team.id do %>
              <%= team.name %>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <% if org.owner? %>
        <%# has the ability to create other teams %>
        <li>
          <a href="https://github.com/orgs/<%= org.login %>/new-team" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
