<p class="lead">
  Pick the team to add people to.
</p>
<hr>
<%= form_for(@invite) do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @invite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @invite.sorted_potential_teams_by_org_login.each do |org_login, teams| %>
    <h2>@<%= org_login %></h2>
    <ul>
      <% teams.each do |team| %>
        <li>
          <%= f.button class: 'btn btn-default', name: 'invite[team_id]', value: team.id do %>
            <%= team.name %>
          <% end %>
        </li>
      <% end %>
      <li>
        <a href="https://github.com/orgs/<%= org_login %>/new-team" class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </li>
    </ul>
  <% end %>
<% end %>
