<% if notice %>
  <p class="notification bg-success"><%= notice %></p>
<% end %>

<p class="lead">
  Share this URL with others to have them be automatically added to <a href="<%= @invite.team.url %>" target="_blank" class="mention">@<%= @invite.organization_login %>/<%= @invite.team.slug %></a>.  This link will expire in <a href="#" class="tooltipped" data-toggle="tooltip" title="<%= @invite.expires_at %>"><%= distance_of_time_in_words(Time.now, @invite.expires_at) %></a>.
</p>
<pre class="url"><%= invite_url(@invite) %></pre>
