<% if notice %>
  <p class="notification bg-success"><%= notice %></p>
<% end %>

<p class="lead">
  Share this URL with others to have them be automatically added to <a href="<%= @invite.team.url %>" target="_blank" class="mention">@<%= @invite.organization_login %>/<%= @invite.team_name.parameterize %></a>.
</p>
<pre class="url"><%= invite_url(@invite) %></pre>
