<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @invite.organization_id %>
</p>

<p>
  <strong>Organization name:</strong>
  <%= @invite.organization_name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @invite.team_id %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @invite.team_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @invite.user_id %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
