<!DOCTYPE html>
<html>
<head>
  <title>Github Invite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="_<%= params[:action] %>">
  <div class="container">
    <h1><%= link_to "GitHub Invite", root_path %></h1>
    <%= yield %>
    <hr>
    <footer>
      <a href="https://github.com/afeld/github_invite">This site is open source</a>
    </footer>
  </div>
</body>
</html>
